.color-white{
    color: #fff
}

.color-brown {
    color: #947561;
}

.color-lightbrown {
    color: #D69E47;
}

.bg-lightbrown {
    background-color: #D69E47;
}

.btnHover:hover{
    opacity: .8 ;
    color: #fff  ;
    transition: .3s;
}

.box-recomendation {
    height: 100%;
}

.box-recomendation .card {
    padding-left: 25px;
}

.recomendation-data {
    max-height: 500px;
}

.card-img {
    margin: auto;
    width: 80px;
    height: 80px;
    background-color: #947561;
}

.card-img img {
    width: 40px;
    height: 40px;
    margin: 20px;
}



.inputFormularios {
    padding: 10px ;
    font-size: 20px ;
}

.inputFormularios::placeholder {
    font-size: 20px;
}

.inputNewsletter {
    padding-left: 40px ;
}