.color-white{
    color: #fff
}

.colorBlue{
    color: #181E4B;
}

.color-brown {
    color: #947561;
}

.color-lightbrown {
    color: #D69E47;
}

.bg-lightbrown {
    background-color: #D69E47;
}
.bg-blue {
    background-color: #181E4B;
}

.btnHover:hover{
    opacity: .8 ;
    color: #fff  ;
    transition: .3s;
}

.btnNavLink-contacto:hover{
    background-color: #D69E47;
    color: #fff;
}

.btnInicio:hover{
    color: #D69E47;
}
.portada{
    position: relative;
    height: 100vh;
}

.portada::before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #fff, transparent);
    z-index: 10;
}

.box-recomendation {
    height: 100%;
}

.box-recomendation .card {
    padding-left: 25px;
}

.recomendation-data {
    max-height: 500px;
}

.card-img {
    margin: auto;
    width: 80px;
    height: 80px;
    background-color: #947561;
}

.card-img img {
    width: 40px;
    height: 40px;
    margin: 20px;
}



.inputFormularios {
    padding: 10px ;
    font-size: 20px ;
}

.inputFormularios::placeholder {
    font-size: 20px;
}

.inputNewsletter {
    padding-left: 40px ;
}

.valijaImg{
    height: 400px;
    filter: drop-shadow(2px 3px 5px #000);
}

.carruselContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow-x: hidden;
}

.flecha{
    position: absolute;
    font-size: 80px;
    cursor: pointer;
    user-select: none;
    z-index: 10;
    color:#181E4B  ;
    border-radius: 5px;
}
.flecha:hover{
    color: #D69E47;
}

.flechaIzq{
    left: 10px;
}

.flechaDer{
    right: 10px;
}

.carruselImg{
    height: 500px;
    width: 90vw;
    object-fit: contain;
    border-radius: 5px;
}

.carruselImg-title{
    position: absolute;
    bottom: 50px;
    color: #fff;
    background-color: #D69E47;
    padding: 5px;
    opacity: .7;
}
.carruselImg:hover ~ .carruselImg-title{
    opacity: 1;
}

.nav-link{
    padding-left: 0!important;
    padding-right: 0!important;
}

/* responsive */
@media (max-width: 768px){
    .bg-holder{
        background-image: url('../img/hero/summer-beach-composition-for-background.jpg')!important;
    }

    .shadow-blue{
        filter: drop-shadow(1px 1px 1px #0306218b);
    }
}